RewriteEngine On

RewriteCond %{REQUEST_URI} !^/?subdom/
RewriteCond %{HTTP_HOST} ^(www\.)?(.*)\.([^\.]*)\.([^\.]*)$
RewriteCond %{DOCUMENT_ROOT}/subdom/%2 -d
RewriteRule (.*) subdom/%2/$1 [DPI]

# Přesměrování /web/admin na /admin
RewriteRule ^web/admin(.*)$ /admin$1 [L,R=301]

# Přesměrování ostatních požadavků na /web/, ale ne /admin
RewriteCond %{REQUEST_URI} !^/admin/
RewriteCond %{REQUEST_URI} !^/web/
RewriteRule ^(.*)$ /web/$1 [L]
