@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.side-nav {
    z-index: 2;
    max-height: 100vh;
}

.side-nav,
.nav-menu {
    height: 100%;
    width: max-content;
    position: fixed;
    top: 0;
}

.side-nav .nav-menu {
    list-style: none;
    padding: 40px 0;
    padding-top: 75px;
    width: 220px;
    background-color: #212529;
}

.side-nav .nav-menu #odejit {
    background-color: rgb(222, 84, 84);
   max-width: 100%;
}

.side-nav .nav-item {
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.side-nav .nav-item:hover {
    background-color: #30353a;
}

.nav-item.active {
    background-color: #fff;
}

.nav-item.active:hover {
    background-color: #fff;
}

.nav-item.active a {
    color: #7b2cbf;
}

.nav-item.active a:hover {
    color: #7b2cbf;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
}

.nav-item a:hover {
    color: white;
    text-decoration: none;
}

.nav-item i {
    color: white;
}

.menu-text {
    padding: 0 20px;
}

/*----------skryti navbaru----------*/

.side-nav {
    height: 100%;
    width: 220px;
    /* Adjust as needed */
    position: fixed;
    top: 0;
    left: 0;
    /* Ensure nav is on the left */
    background-color: #212529;
    transition: transform 0.3s ease;
    transform: translateX(0);
    /* Start shown */
    overflow: hidden;

}

#toggle-nav {
    background-color: #212529;
    border: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    border-radius: 5px;
}

#toggle-nav:focus {
    outline: none;
}

.side-nav.hidden {
    transform: translateX(-100%);
}

.side-nav.hidden {
    transform: translateX(-100%);
}

.dropbtn {
    cursor: pointer;
}   

.dropdown-content {
    margin-top: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(-20px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

.dropdown-content.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    margin-top: 10px;
    left: 0 !important;
    font-size: 15px;
    border: none;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 20px;
}