@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px !important;
    margin-bottom: 75px !important;
}

.container h1 {
    width: 90%;
    align-self: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(187, 187, 187);
    color: grey;
    display: flex;
    justify-content: space-between;
}

.clanky {
    width: 90%;
}

.clanky .container-table {
    width: 100%;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.statistiky {
    width: 90%;
    margin-bottom: 30px;
    cursor: pointer;
}

.viditelnost {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-dot {
    height: 10px;
    width: 10px;
    background-color: rgb(61, 164, 61);;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: #dc3545;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}


.blue-dot {
    height: 10px;
    width: 10px;
    background-color: #1565ee;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.active-sort{
    color: #dc3545;
}

form {
    display: flex;
    justify-content: flex-end;
}

.form-group {
    background-color: rgb(234, 234, 234);
    padding: 1vh;
    border-radius: 5px;
}

.form-group select {
    cursor: pointer;
}

div.container{
    width: 100% !important;
}

.pocet-navstevniku {
    background-color: #0dd73c;
    padding: 15px;
    border-radius: 15px;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.pocet-navstevniku i {
    color: white;
    margin-right: 5px;
}