@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    background-color: rgb(18, 18, 18);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .ohraniceni {
    background-color: #212121;
    height: 450px;
    width: 700px;
    display: flex;
    border-radius: 20px;
}

.container .ohraniceni .inputy {
    width: 50%;
    height: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.container .ohraniceni .inputy .prvek a {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.container .ohraniceni .inputy .prvek {
    margin-bottom: 20px;
}

.container .ohraniceni .inputy input[type="submit"] {
    background-color: white;
    border-radius: 20px;
    padding: 0.8em 1em;
    border: none;
    width: 275px;
    cursor: pointer;
    border: 0.25em solid white;
}

.container .ohraniceni .inputy input[type="submit"]:hover {
    background-color: rgb(232, 232, 232);
}

.container .ohraniceni .logo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .ohraniceni .logo img {
    width: 400px;
}

/*-------------emial-styles-----------*/

.input-group {
    width: max-content;
    min-width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: center !important;
}

.input-group__label {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    color: #ccd;
    color: rgba(255, 220, 255, 0.6);
    cursor: pointer;
}

.input-group__input {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    height: calc(1em + 1.6em + 0.5em);
    width: 100%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#000, #000), linear-gradient(to right, rgb(229, 7, 126), rgb(154, 31, 106), rgb(4, 142, 206), rgb(4, 142, 206), rgb(99, 195, 208));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;
    font-size: 16px;
}

.input-group__input2 {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    height: calc(1em + 1.6em + 0.5em);
    width: 100%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#000, #000), linear-gradient(to left, rgb(99, 195, 208), rgb(4, 142, 206), rgb(4, 142, 206));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;
    font-size: 16px;
}

.input-group__input:hover {
    background-position: 100% 0;
}

.input-group__input2:hover {
    background-position: 100% 0;
}

@supports (mix-blend-mode: darken) {
    .input-group {
        position: relative;
        mix-blend-mode: lighten;
    }

    .input-group__label {
        position: absolute;
        left: 3em;
        top: -0.28em;
        background: #000;
    }
}

/*-styly check box-*/

.checkboxes__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #161616;
    padding: 12px 18px 12px;
    border-radius: 25px;
    border: 0.25em solid #161616;
    width: 232px;
}

.checkboxes__item p {
    color: white;
    font-weight: 100 !important;
    font-family: 'Fira Sans Condensed', sans-serif;
    display: block;
}

.checkbox.style-e {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox.style-e input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.style-e input:checked~.checkbox__checkmark {
    background-color: green;
}

.checkbox.style-e input:checked~.checkbox__checkmark:after {
    left: 21px;
    scale: 1.3;
}

.checkbox.style-e:hover input~.checkbox__checkmark {
    background-color: #696969;
}

.checkbox.style-e:hover input:checked~.checkbox__checkmark {
    background-color: green;
}

.checkbox.style-e .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 40px;
    background-color: #696969;
    transition: background-color 0.25s ease;
    border-radius: 11px;
    scale: 1.3;
    margin-bottom: 20px;
    display: block;
}

.checkbox.style-e .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.25s ease;
    scale: 1.3;
}

.input-group__input:read-only {
    color: #fff;
}