@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-zobrazit-user .text {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-zobrazit-user .text img {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin-bottom: 25px;
    width: 175px;
    object-fit: cover;
}

.container-zobrazit-user .text h1 {
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-size: 32px;
}

.container-zobrazit-user .text .stats {
    display: flex;
    color: white;
    margin-top: 25px;
}

.container-zobrazit-user .text .stats .pocet {
    padding-right: 50px;
    border-right: 1px solid white;
    padding-block: 15px;
}

.container-zobrazit-user .text .stats .pocet h2 {
    font-weight: 300;
    font-size: 25px;
}

.container-zobrazit-user .text .stats .socky {
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    padding-block: 15px;
    margin-bottom: 4px;
}

.container-zobrazit-user .text .stats .socky a i {
    color: white;
    transition: 0.2s;
}

.container-zobrazit-user .text .stats .socky a i:hover {
    color: #f1008d;
    transition: 0.2s;
}

.container-zobrazit-user .text .stats .socky i {
    overflow: hidden;
}

.container-zobrazit-user .text .text-editor {
    margin-top: 75px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    width: 60%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .container-zobrazit-user {
        scale: 0.8;
    }

    .container-zobrazit-user .text {
        margin-top: 10vh;
    }

    .container-zobrazit-user .text .text-editor {
        width: 90%;
    }
}

.container-autor {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container-autor .text {
    margin-inline: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    background-color: #171925;
    color: white;
    padding-block: 50px;
    border-radius: 25px;   
    padding-inline: 50px;
}

.container-autor .text .popis p {
    padding-right: 10px;
    max-width: 650px;
}

.container-autor .text .popis h5 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 200;
}

.container-autor .text .popis h6 a {
    color: #f1008d;
    font-weight: 400;
}

.container-autor .text .image {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-autor .text .image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container-autor .text .odkaz {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
}

.container-autor .text .odkaz a {
    padding: 1.5vh;
    border-radius: 25px;
    background-color: white;
    color: #171925;   
    display: flex;
    height: max-content;
    gap: 7px;
    align-items: center;
    font-weight: 400;
    border: 3px transparent solid;
    text-decoration: none;
    transition: 0.2s;
}

.container-autor .text .odkaz a:hover {
    border: 3px white solid;
    background-color: #171925;
    color: white;
    transition: 0.2s;
}

.container-autor .text .odkaz a p {
    margin-bottom: 0;
}

/*---------mobile---------*/

.container-autor-mobile {
    background-color: #171925;
    color: white;
    padding-block: 25px;
    border-radius: 25px;   
    max-width: 90%;
    margin: auto;
    margin-top: 50px;
    display: none;
    justify-content: center;
    padding-inline: 20px;
}

.container-autor-mobile .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.container-autor-mobile .text .fotka-text {
    display: flex;
    align-items: flex-start; /* Align items to the start of the container */
    gap: 20px;
}

.container-autor-mobile .text p {
    padding-right: 10px;
    margin-top: 20px;
    text-align: justify;
}

.container-autor-mobile .text .popis h5 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 200;
    flex-wrap: wrap;
}

.container-autor-mobile .text .popis h6 {
    white-space: normal; /* Ensure text wrapping */
    word-break: break-word; /* Break the word at the edge of the container */

}

.container-autor-mobile .text .popis h6 a {
    color: #f1008d;
    font-weight: 300;

}

.container-autor-mobile .text .fotka-text .img {
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.container-autor-mobile .text .odkaz a {
    margin-top: 50px;
    padding: 1.5vh;
    border-radius: 25px;
    background-color: white;
    color: #171925;   
    justify-content: space-between;
    display: flex;
    height: max-content;
    align-items: center;
    font-weight: 400;
    border: 3px transparent solid;
    text-decoration: none;
    transition: 0.2s;
}

.container-autor-mobile .text .odkaz a:hover {
    border: 3px white solid;
    background-color: #171925;
    color: white;
    transition: 0.2s;
}

.container-autor-mobile .text .odkaz a p {
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (max-width: 1250px) {
    .container-autor {
        display: none;
    }

    .container-autor-mobile {
        display: block;
    }
}