@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  border: none;
  padding: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  overflow-x: hidden;
}

/*-navbar-*/

.navbar {
  position: fixed;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 15, 0.9) 0%,
    rgba(0, 0, 15, 0.6) 70%,
    rgba(0, 0, 15, 0) 100%
  );
  padding-bottom: 10vh;
  z-index: 9999;
  transition: all 0.3s ease, transform 0.0s linear;
}

.navbar a {
  z-index: 99999;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 15, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 0.3s ease;
  padding-bottom: 0;
  margin-top: 0;
}

.navbar.scrolled img {
  width: 75px;
  transition: all 0.3s ease;
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.navbar.scrolled .inside-nav {
  margin-top: 0;
  transition: all 0.3s ease;
}

.navbar img {
  width: 100px;
  height: auto;
  margin-left: 40px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.navbar .inside-nav {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.3s ease;
}

.navbar .inside-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar .inside-nav ul li {
  overflow: hidden;
}

.navbar .inside-nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  transition: 0.2s;
  padding: 2px 6px;
}

.navbar .inside-nav ul li a.active {
  text-shadow: 0 0 1px #86c2f1, 0 0 2px #86c2f1, 0 0 8px #86c2f1,
    0 0 3px #86c2f1;
}

.navbar .inside-nav ul li a:hover {
  text-shadow: 0 0 1px #f87fc6, 0 0 2px #f87fc6, 0 0 8px #f87fc6,
    0 0 3px #f87fc6;
  transition: 0.2s;
}

/*----mobile---*/

#menu {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 10;
}

.menu-line1 {
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.6s;
}

.menu-line2 {
  width: 80%;
  height: 2px;
  margin-top: 0.7rem;
  background: #fff;
  transition: 0.6s;
}

.rotate {
  transform: rotateZ(180deg);
}

.rotate1 {
  background: white;
  transform: rotateZ(45deg);
}

.rotate2 {
  background: white;
  width: 100%;
  transform: translate(0, -0.8rem) rotateZ(-45deg);
}

.nav-page1 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 15, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translate(0, -100%);
  transition: 0.5s;
  height: 101vh;
  z-index: 998;
}

.nav-page1 li {
  list-style: none;
  overflow: hidden;
  margin-block: 15px;
}

.nav-page1 li a {
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  text-decoration: none;
  transition: 0.2s;
}

.nav-page1 li a.active {
  text-shadow: 0 0 1px #86c2f1, 0 0 2px #86c2f1, 0 0 8px #86c2f1,
    0 0 3px #86c2f1;
}

.nav-page1 li a:hover {
  text-shadow: 0 0 1px #f87fc6, 0 0 2px #f87fc6, 0 0 8px #f87fc6,
    0 0 3px #f87fc6;
  transition: 0.2s;
}

.transform {
  transform: translate(0, 0);
}

.nav-mobile {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 15, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 0.5s ease, transform 0.1s linear;
  display: flex;
  align-items: center;
  margin-top: 42px;
}

.nav-mobile.scrolled {
  margin-top: 0;
}

.nav-mobile img {
  width: auto;
  height: 40px;
  margin-left: 20px;
}

.nav-mobile.no-blur {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  background-color: none;
}

@media screen and (max-width: 850px) {
  .nav-mobile {
    margin-top: 0;
  }
}

@media screen and (min-width: 930px) {
  .nav-mobile {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  .navbar {
    display: none;
  }

  #menu {
    display: flex;
    z-index: 999;
  }

  .nav-page1 {
    display: flex;
    z-index: 998;
  }
}

.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smartbanner-show.scrolled {
  margin-top: 0;
}

.marquees-wrapper {
  position: relative;
  height: max-content;
  width: 100%;
  overflow-x: hidden;
  z-index: 9999999999999;
  top: 0;
  transition: opacity 0.1s linear;
}
