.races {
    padding-top: 180px;
    height: 80vh;
    background-color: #00000f;
    display: flex;
    padding-inline: 20px;
    padding-bottom: 50px;
    gap: 20px;
    overflow: hidden;
}

.races p {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 200;
    text-align: center;
}

.races a {
    background-color: #292734;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;   
    border-radius: 25px;
}

.races a:hover {
    background-color: rgba(23, 25, 37, 100%);
    transition: 0.2s;
}

@media screen and (max-width: 600px) {
    .races {
        padding-top: 15vh;
        height: auto;
        background-color: #00000f;
        display: flex;
        flex-direction: column;
        padding-inline: 20px;
        padding-bottom: 50px;
        gap: 20px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .races a {
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 250px;
    }

    .races p {
        font-size: 25px;
    }
}