.container-user-zobrazit {
    background-color: whtie;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    max-width: 100vw;
}

.container-user-zobrazit .profile-header {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-user-zobrazit .profile-foto {
    margin-top: 160px;
    background: transparent;
    width: 280px;
}

.container-user-zobrazit .profile-foto img {
    border-radius: 50%;
    height: 280px;
    width: 280x;
    object-fit: cover;
    border: 5px white solid;
    background-color: white;
}

.container-user-zobrazit .text {
    margin-top: 140px;
}

.container-user-zobrazit h1 {
    margin-top: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

.container-user-zobrazit h2 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
}

.container-user-zobrazit .text-editor {
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.container-user-zobrazit .text-editor h2 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
    width: 60%;
    font-weight: 100;
}

.container-user-zobrazit .text-editor p {
    width: 60%;
    text-align: justify;
}

.container-table {
    margin-top: 100px;
}

@media screen and (max-width: 850px) {
    .container-user-zobrazit .text-editor h2 {
        text-transform: uppercase;
        font-size: 30px;
        text-align: left;
        width: 90%;
        font-weight: 100;
    }
    
    .container-user-zobrazit .text-editor p {
        width: 90%;
        text-align: justify;
    }
}